.board {
  color: black;

  &-row:after {
    clear: both;
    content: "";
    display: table;
  }

  &-status {
    margin-bottom: 10px;
    span {
      color: blueviolet;
      font-size: 1.2em;
    }
  }
}