.game {
  display: flex;
  flex-direction: row;
  border: 1px solid #000;
  border-radius: 5px;

  &-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.5rem;
    background-color: #fafafa;
    border-right: 1px solid #eaeaea;
  }

  &-board {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 0.5rem;
    background-color: #fafafa;
  }
  
  &-actions {
    margin-right: 20px;
  }

  ol,
  ul {
    padding-left: 30px;
  }
}