.game {
  display: flex;
  flex-direction: row;

  &-info {
    margin-left: 20px;
  }

  &-actions {
    margin-right: 20px;
    button {
      padding: 5px;
      background-color: brown;
    }
  }

  ol,
  ul {
    padding-left: 30px;
  }
}